# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
dist
build
.turbo

# Environment
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.pem
.vercel

# Debug
npm-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Prisma
packages/database/prisma/migrations
